@import './styles/variables/global.scss';

.layout {
  display: flex;
  justify-content: center;

  min-width: 360px;
  height: 100vh;

  font-family: $font-family-main;
  font-size: $font-size-default;
  line-height: $font-line-default;
  font-weight: $font-weight-default;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1240px;
  width: 100%;
}
